{% extends 'base.html' %}

{% block title %}Team Details - {{ team.name }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Team Details</h2>
    
    <div class="card">
        <div class="card-header home_colour text-white">
            <h3 class="mb-0">{{ team.name }}</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Team Name</th>
                        <td>{{ team.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Position</th>
                        <td>{{ team.team_position }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>   
</div>
{% endblock %}

